.App, .commentPlaceholder {
  text-align: center;
}

html {
  background-color: #222233;
}

html, body, #root, .App, .loginComponent, .signupComponent {
  height: 100%;
}

.App-header {
  background-color: #B90035 ;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  font-family: Lora;
}

.login, .signup, .loginLabel, .signupLabel, .App-link, .navLinks, #departmentDropdown, #deleteDept, .resolvePost, .postsHeader {
  font-family: Poiret;
  font-weight: bold;
  color: #AACCFF!important;
}

.navLinks, #departmentDropdown, #deleteDept {
  font-size: 20px;
  margin:5px;
}

.verticalLine {
  border-right: 2px solid #AACCFF;
  height: 500px;
  margin: 50px;
}

.verticalLineSignup {
  border-right: 2px solid #AACCFF;
  height: 700px;
  margin: 50px;
}

.loginLabel, .App-link {
  font-size: 18px;
}

.loginButton, .forgotPassword, .signupButton, #submitButton, .createPostButton, #createDeptButton, #searchButton, #signoutButton{
  color: black!important;
  font-family: Poiret;
  background-color: #AACCFF!important;
}

.createPostButton:hover, #createDeptButton:hover, .deleteDept:hover, #searchButton:hover, #signoutButton:hover {
  background-color: white!important;
}

.postDetailsButton {
  color: black!important;
  font-family: Lora;
  background-color: #AACCFF!important;
  margin:5px;
}

.loginComponent, .signupComponent, .homePage {
  background-color: #222233;
  height: 100vh;
}

.navbarComponent {
  background-color: #222233;
}

#createDeptForm::placeholder, .dropdownOptions, #searchForm::placeholder{
  font-family: Poiret;
}

input::placeholder, #createDeptForm::placeholder, #searchForm::placeholder{
  color: black!important;
  text-align: center;
}

.postCard, .donePostCard, .createPostButton, .loginCard, .deleteButton, .google, .facebook, .createPostButton, #signoutButton{
  margin: 10px;
}

.postCard{
  margin: 10px 10px 10px 30px ;
  width: 16rem;
}

.donePostListing{
  width: 20%;
  float: left;
}

.postListing{
  width: 75%;
  float: left;
}
.next, .prev {
  margin: 15px;
  padding: 8px;
}

.nextResolved{
  margin: 15px;
  padding: 8px;
  float: left;
}

.prevResolved{
  margin: 15px;
  padding: 8px;
  float: left;
  clear: left;
}

.nextResolvedNoPrev{
  margin: 15px;
  padding: 8px;
  float: left;
  clear: left;
}

.username, .resolvedUsername{
  font-size: 13px;
  font-weight: bold;
  font-family: Lora;
  font-style: italic;
  color: #222233!important;
}

.cardTitle{
  font-weight: bold;
  font-family: Lora;
  background-color: #AACCFF!important; 
} 

.resolvedCards {
  font-family: Lora;
  font-weight: bold;
  background-color: #28a745!important; 
}

.cardBody {
  font-family: Lora;
  color: #222233!important;
}


.deleteButton {
  margin: 5px;
} 

.adminDept {
  display: inline-block;
}

#searchFormLabel, #createDeptFormLabel {
  display: none;
}

hr {
  border-color: white;
  background-color: white;
}



