.App, .commentPlaceholder {
  text-align: center;
}

.App-title {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.postCard {
  margin: 10px;
}

.next, .prev {
  margin: 15px;
  padding: 8px;
}

.username {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.cardTitle{
  font-weight: bold;
}

.createPostButton{
  margin: 10px;
}