.App, .commentPlaceholder {
  text-align: center;
}

html, body, #root, .App, .loginComponent, .signupComponent {
  height: 100%;
}

.App-header {
  background-color: #B90035 ;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  font-family: Lora;
}

.login, .signup, .loginLabel, .signupLabel, .App-link {
  font-family: Poiret;
  font-weight: bold;
  color: #AACCFF;
}

.verticalLine {
  border-right: 2px solid #AACCFF;
  height: 500px;
  margin: 50px;
}

.verticalLineSignup {
  border-right: 2px solid #AACCFF;
  height: 700px;
  margin: 50px;
}

.loginLabel, .App-link {
  font-size: 18px;
}

.loginButton, .forgotPassword, .signupButton{
  color: black!important;
  font-family: Poiret;
  background-color: #AACCFF!important;
}

.loginComponent, .signupComponent {
  background-color: #222233;
  height: 100vh;
}

input::placeholder{
  color: black!important;
  text-align: center;
}

.postCard, .donePostCard, .createPostButton, .loginCard  {
  margin: 10px;
}

.donePostListing{
  width: 20%;
  float: left;
}

.postListing{
  width: 75%;
  float: left;
}
.next, .prev {
  margin: 15px;
  padding: 8px;
}

.username {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.cardTitle{
  font-weight: bold;
}

.deleteButton, .google, .facebook {
  margin: 10px;
}

.createPostButton{
  margin: 10px;
}
.deleteButton {
  margin: 5px;
}



