body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'Poiret';
  src: url(./fonts/PoiretOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Lora';
  src: url(./fonts/Lora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family:'Titillium-Regular';
  src: url(./fonts/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Titillium-Light';
  src: url(./fonts/TitilliumWeb-Light.ttf) format('truetype');
}
